<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
  <title>Home</title>
  <script th:src="@{sockjs.min.js}"></script>
  <script th:src="@{stomp.min.js}"></script>
  <script th:src="@{jquery.js}"></script>
</head>
<body>
<p>
  聊天室
</p>

<form id="wiselyForm">
  <textarea rows="4" cols="60" name="text"></textarea>
  <input type="submit"/>
</form>

<script th:inline="javascript">
    $('#wiselyForm').submit(function(e){
        e.preventDefault();
        var text = $('#wiselyForm').find('textarea[name="text"]').val();
        sendSpittle(text);
    });
    var headers = {
        'client-id': 'my-client-id',
        'authorization': 'Bearer:eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIyIiwiZXhwIjoxNTI4ODc4NDY0fQ.0hq4N9ksxWJW8ElQoKABZZswHDuBElkbM7DpCwRTrB25_TghaOFmNJc7jG1a1E4xloxlZveE-fRyOZGjkqzSng'
    };
    var sock = new SockJS("/socket"); //1
    var stomp = Stomp.over(sock);
    stomp.connect(headers, function(frame) {
        console.log(frame);
        stomp.subscribe("/topic/notifications", handleNotification);//2
    });



    function handleNotification(message) {
        $('#output').append("<b>Received: " + message.body + "</b><br/>")
    }

    function sendSpittle(text) {
        stomp.send("/chat", {}, text);//3
    }
    $('#stop').click(function() {sock.close()});
</script>

<div id="output"></div>
</body>
</html>